<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Hoşgeldiniz</h2>
            <hr>
            <a href="/" class="btn btn-success">Anasayfa</a>
            <a href="/login" class="btn btn-primary"> Giriş Yap</a>
            <a href="/register" class="btn btn-info">Üye Olma Sayfasına Git</a>
            <a href="/secure" class="btn btn-danger"> Detaylar </a>
            <hr>
        </div>
    </div>
</div>
</body>
</html>